body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: flex;
}
.col{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

